output "eDP-1" {
  scale 1.0 // change if text scaling is too small/big 
  background-color "#000000"
  position x=0 y=0
}

output "HDMI-A-1" {
  mode "1920x1080@119.982"
  transform "90"
  position x=1920 y=0
  background-color "#000000"
}

input {
  focus-follows-mouse

  keyboard {
    xkb {
      layout "us"
      options "caps:escape"
    }
    repeat-delay 300
    repeat-rate 30
  }

  touchpad {
    accel-profile "adaptive"
    click-method "button-areas"
    dwt
    dwtp
  }
}

layout {
  gaps 16
  center-focused-column "never"
}
